---
###########################
###########################
## Linter GitHub Actions ##
###########################
###########################
name: Lint Code Base

#
# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
#

#############################
# Start the job on all push #
#############################
on:
  push:
    branches-ignore: [main]
    # Remove the line above to run when pushing to main
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

###############
# Set the Job #
###############
jobs:
  build:
    # Name the Job
    name: Megalint Code Base
    # Set the agent to run on
    runs-on: ubuntu-latest

    ##################
    # Load all steps #
    ##################
    steps:
      ##########################
      # Checkout the code base #
      ##########################
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      ################################
      # Run Linter against code base #
      ################################
      - name: Lint Code Base
        uses: megalinter/megalinter@v9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BRANCH: main
          VALIDATE_ALL_CODEBASE: false
          DISABLE: COPYPASTE,SPELL
          DISABLE_LINTERS: PYTHON_MYPY,PYTHON_PYRIGHT,MARKDOWN_MARKDOWN_LINK_CHECK,REPOSITORY_TRIVY,REPOSITORY_CHECKOV
          ACTION_ACTIONLINT_DISABLE_ERRORS: true
          DOCKERFILE_HADOLINT_DISABLE_ERRORS: true
          PYTHON_BANDIT_DISABLE_ERRORS: true
          PYTHON_PYLINT_ARGUMENTS: --disable=F0401
          PYTHON_RUFF_DISABLE_ERRORS: true
          REPOSITORY_CHECKOV_DISABLE_ERRORS: true
          REPOSITORY_KICS_DISABLE_ERRORS: true
          REPOSITORY_TRUFFLEHOG_DISABLE_ERRORS: true
          VALIDATE_PYTHON_ISORT: false

      # Upload Mega-Linter artifacts. They will be available on Github action page "Artifacts" section
      - name: Archive production artifacts
        if: ${{ success() }} || ${{ failure() }}
        uses: actions/upload-artifact@v5
        with:
          name: Mega-Linter reports
          path: |
            report
            mega-linter.log
